.dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dialogButtonContainer {
    display: flex;
    gap: 10px;
}

.removeEmployeeButton {
    --button-color: #800000;
}

.employeeIcon {
    --optical-size: 100;
    --fill: 1;
    margin: -10px;
}

.label {
    margin: 0px;
    font-size: 1.25em;
}