/* Search form */

@media screen and (width <= 475px) {
    .searchForm {
        flex-direction: column;
        gap: 10px;
    }
}

.searchForm {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;

    background-color: var(--theme__layer2-color);
}

.searchInput {
    display: flex;
    align-items: stretch;
    margin-left: 5px;
}

.searchField {
    border-top-right-radius: 0px;
}

.searchButton {
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

.searchIcon {
    display: block;
}

/* Search results */
.searchResultsContainer {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;

    background-color: var(--theme__layer1-color);
}

.searchResultsPlaceholder {
    margin: 0px;
    font-style: italic;
    text-align: center;
    font-size: 1.1em;
    
    color: hsl(from var(--theme__primary-color) h s calc(l - 25));
}

.businessesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: 1fr;
    place-items: stretch;
    gap: 10px;
    width: 100%;
}

.businessIcon {
    --optical-size: 100;
    margin: -5px;
}

.businessLabel {
    font-size: 1.25em;
    margin: 0px;
}