.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 2px 0px;
    font-size: 0.75em;


    background-color: var(--theme__accent-color);
}