.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;

    box-shadow: 0px 0px 10px black;
    --button-color: var(--theme__layer2-color);
    transition: transform 75ms ease-out;
}

.card:hover {
    transform: scale(105%);
}

.addCard {
    composes: card;
    background-color: var(--theme__layer1-color);
    border: 3px dashed var(--theme__layer2-color);
    transition: all 75ms ease-out;
}

.addCard:hover, .addCard:focus {
    background-color: var(--theme__layer2-color);
    border-color: var(--theme__layer1-color);
}