@media screen and (width <= 580px) {
    .controlContainer {
        flex-direction: column;
    }
}

.controlContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timesListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--theme__layer1-color);
}

.timesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: min-content;
}

.timeDiv {
    width: 100%;
    height: 100%;
    padding: 5px;
    white-space: nowrap;
}

.unselectedTime {
    composes: timeDiv;
    --button-color: var(--theme__layer2-color);
}

.selectedTime {
    composes: timeDiv;
    --button-color: var(--theme__accent-color);
}

.timeCaption {
    font-style: italic;
    margin: 0px;
}