.employeeList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.employeeEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

    text-decoration: none;
    background-color: var(--theme__layer2-color);
    transition: background-color 75ms ease-out;
}

.employeeEntry:is(:hover, :focus) {
    background-color: hsl(from var(--theme__layer2-color) h s calc(l + 10));
}

.employeeEntry:active {
    background-color: hsl(from var(--theme__layer2-color) h s calc(l - 5));
}