.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;          

    background-color: var(--theme__layer2-color);
}

.title {
    margin: 15px 20px;
}